@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --Black:#001829;
    --White:#FFF;
    --Blue:#0EA3C4;
    --Green:#4DC40E;
    --bright-green:#BEF434;
    --Grey:#F1F1F1;
    --dark-blue:#4568FB;
    --violet-light:#D1D5FB;
}

*{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    width:100%;
}

header{
    position:fixed;
    top:0;
    display: flex;
    max-width: 90%;
    width: 90%;
    padding-left:5%;
    padding-right:5%;
    padding-top:25px;
    padding-bottom:25px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color:var(--Grey);
    z-index: 20;
}

.menu{
    display: flex;
    padding-left:0;
}

.menu li{
    list-style-type: none;
    margin-right:35px;
    color:var(--Black);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-family:'Inter';
    position:relative;
}

.menu li::after{
    content:'';
    position:absolute;
    bottom:-5px;
    width:0%;
    height:4px;
    background-color:var(--bright-green);
    left:0;
    transition: .3s;
}

.menu li:hover::after{
    width:100%;
}

.menu li:last-child{
    margin-right:0;
}

.tsection-header a{
    color:var(--White);
    font-size: 23px;
    background-color:var(--Black);
    padding:15px 28px;
    font-weight: 600;
    border-radius: 66px;
}

.tel-header{
    margin-right:36px;
}

.tel-header a{
    color:var(--Black);
    font-weight: 600;
    font-family:'Inter';
    font-size: 18px;
}

.fsection-header{
    display: flex;
    align-items: center;
}

.logo-wrapper{
    margin-right:36px;
}

.social-wrapper img{
    height:35px;
    width:35px;
    object-fit: cover;
}

.social-wrapper a{
    margin-right:10px;
}

.ssection-header{
    position: absolute;
    width:100%;
    display: flex;
    left: 0;
    justify-content: center;
    z-index: -1;
}

.first-block{
    background-image:url(img/block1.png);
    height:100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
}

.fb-text__wrapper{
    display: flex;
    height: 80%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-right: 65px;
}

.fbw-text{
    text-align: center;
    font-family: 'Raleway';
    font-size: 34px;
    font-weight: 500;
}

.fbw-btn a{
    color:var(--White);
    padding:20px 60px;
    background-color:var(--dark-blue);
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 0.32px;
    transition: .2s;
}

.fbw-btn a:hover{
    background-color:var(--Blue);
}

.sb-blocks{
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 25px 45px; 
    max-width: 95%;
    margin:0 auto;
}

.sb-zag{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    margin:60px 0;
    text-align: center;
}

.sb-block{
    background-color:var(--violet-light);
    border-radius: 40px;
    padding:40px 40px 60px 40px;
}

.sbb-zag{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    padding-bottom:20px;
}

.sbb-text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.sbb-btn{
    margin-top:40px;
    display: flex;
    justify-content: center;
}

.sbb-btn a{
    border: 2px solid #000;
    background: #FFF;
    box-shadow: -4px 4px 0px 0px #000;
    padding:16px 18px;
    transition:.2s;
    color:var(--Black);
}

.sbb-btn a:hover{
    box-shadow: none;
}

table {
    width:100%;
    /* border-top: 1px solid #b3adad; */
    border-bottom: 1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;

}

table th {
    border-top: 1px solid #b3adad;
    border-bottom: 1px solid #b3adad;
    padding:5px;
    background: #f0f0f0;
    color: #313030;
    width:20px;
}
table td {
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
    border-top: 1px solid #b3adad;
    border-bottom: 1px solid #b3adad;
    height:40px;
}

thead th{
    border-top:none;
    background: rgba(0,0,0,0);
    border-bottom: 3px solid var(--Blue);
}

.third-block{
    /* padding:0 5%; */
}

.tb-zag{
    padding:34px 0 36px 0;
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.firb-zag{
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin:30px 0 50px 0;
}

.fourth-block{
    max-width:90%;
    margin:0 auto;
}

.fourth-block li{
    text-align: center;
    list-style-position: inside;
}

.firb-toright-block{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.firb-toleft-block{
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.firtb-text{
    max-width:60%;
    text-align: center;
}

.firtb-text ul{
    padding-left:0;
}

.firtb-text li{
    font-size: 19px;
    font-weight: 500;
    font-family: 'Inter';
}

.firb-toleft-block{
    margin-top:75px;
}

.fdw1-1, .fdw2-2, .fdw3-3{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.fdw1-1 .ff-zaw, .fdw2-2 .ff-zaw, .fdw3-3 .ff-zaw{
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom:22px;
}

.fdw1-1 .ff-text, .fdw2-2 .ff-text, .fdw3-3 .ff-text{
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.fifth-block{
    padding:27px 0;
    background-color: rgba(0,0,0,.1);
}

.fifth-dziwny__wrapper{
    display: flex;
}

.fdwwww{
    display:flex;
}

.fdw-dziwny{
    padding-left:20px;
}

.fdw1-1{
    padding:35px 8px 35px 38px;
    margin-bottom:25px;
}

.fdw2-2, .fdw3-3{
    padding:44px 35px 80px 35px;
}

.fdw2-2{
    margin-right:25px;
}

.fdw1-1 .ff-zaw, .fdw3-3 .ff-zaw{
    color:var(--Blue);
}

.fdw2-2 .ff-zaw{
    color:var(--Green);
}

.fdw1-1 .ff-zaw{
    position:relative;
}

.verified__wrapper{
    position:absolute;
    right:50%;
    top:-50%;
    display: flex;
    border-radius: 4px;
    background: #F7F7F7;
    padding:10px 16px;
    align-items: center;
}

.verif-text{
    padding-right:15px;
    color: #000;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.verif-galka{
    background-color:white;
    padding:5px;
    border-radius:15px;
    width: 15px;
    height:15px;
    display: flex;
}

.fifth-zag{
    font-family: 'Poppins';
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom:30px;
    text-align: center;
}

.fifth-text{
    font-family: 'Poppins';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    padding:32px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.2);
    margin-top:50px;
}

.fifth-dziwny__wrapper, .fifth-text__wrapper{
    max-width:95%;
    margin:0 auto;
}

.sixth-zag{
    margin-top:25px;
    font-family: 'Poppins';
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom:30px;
    text-align: center;
}

.boats-blocks{
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    gap: 61px 0px; 
    justify-items: center;
}

.sixth-block{
    max-width:95%;
    margin:0 auto;
}

.bb-nazwa{
    text-align: center;
    padding-bottom:25px;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
}

.bb-photo{
    width:568px;
    height:342px;
    background-repeat: no-repeat;
    background-size:cover;
}

.seventh-block{
    background-image:url(img/main\ photo\ 2.png);
    padding:75px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.seventh-green{
    max-width:80%;
    margin:0 auto;
    border-radius: 10px;
    border: 1px solid rgba(104, 193, 160, 0.40);
    background: rgba(104, 193, 160, 0.23);
    padding:100px 57px;
}

.seventh-zag{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-bottom:40px;
    padding-left:80px;
}

.seventh-text{
    color: #505887;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
}

.seo-part{
    width:95%;
    margin:0 auto;
    padding:50px 0;
}

.seo-part h1{
    text-align: center;
    margin-bottom:30px;
    font-size:50px;
}

.footer__social img{
    width:25px;
    height:25px;
}

footer{
    background-color:var(--Blue);
}

.footer__wrapper{
    max-width:70%;
    margin:0 auto;
    padding:80px 0;
    display: flex;
    justify-content: space-between;
}

.second-section-footer{
    display:flex;
    flex-direction: column;
}

.first-section-footer ul{
    padding-left:0;
}

.first-section-footer ul li{
    list-style-type: none;
    color:white;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom:10px;
}

.first-section-footer ul li:last-child{
    margin-bottom:40px;
}

.second-section-footer a{
    color:white;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom:15px;
}

.post-image__wrapper{
    height:75vh;
    background-position: center;
}

.post-text{
    font-family: 'Open Sans';
    font-size: 19px;
    font-style: normal;
    padding:50px 0;
    max-width:95%;
    margin:0 auto;
}